
<div class="topFVchapter">
	<div class="topFVBox">
		<h1 class="topFVtext">
			" Chapter 1: ありのままの美しさ "
		</h1>
		<p class="topFVSmalltext">
			Special Collection
		</p>
        <div class="topFVsmallBox">
			<button class="topFVsmallBoxText">BUY NOW</button>
		</div>
		</div>
	</div>
</div>