

<div class="topFV">
	<div class="topFVBox">
		<h1 class="topFVtext">
			my dear, 私をつくるもの。
		</h1>
		<p class="topFVSmalltext">
			We spent a day for every moment one.<span> This anywere love companion.</span>
		</p>
		<div class="topFVsmallBox">
			<button class="topFVsmallBoxText btnripple3">SHOP NOW</button>
		</div>
	</div>
</div>
<div class="topFVbottom">
	<button class="btnripple3 topFVbottomtext">FREE SHIPPONG</button>
</div>




{% schema %}
{
	"name": "Toppage Header Image",
	"settings": [
		{
			"type": "image_picker",
			"id": "toppage_header_image",
			"label": "Toppage Header Image"
		}
	]
}
{% endschema %}

