@charset "UTF-8";
#business {
  display: block;
  height: 1080px;
  width: 100%;
  position: relative;
}

#business .wrapper {
  width: 66.6666%;
  margin: 0 auto;
}

#business .wrapper .busiBox {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  width: 66.6666%;
  height: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#business .wrapper .busiBox .boxImg {
  width: 47%;
}

#business .wrapper .busiBox .boxImg .boxImgTop {
  position: absolute;
  -webkit-transform: translate(10%, 10%);
          transform: translate(10%, 10%);
}

#business .wrapper .busiBox .boxImg .boxImgTop img {
  display: block;
  width: 90%;
}

#business .wrapper .busiBox .boxImg .boxImgTop2 {
  position: absolute;
  -webkit-transform: translate(0%, 30%);
          transform: translate(0%, 30%);
  width: 120%;
  z-index: -1;
}

#business .wrapper .busiBox .boxImg .boxImgTop2 img {
  display: block;
  width: 39%;
}

#business .wrapper .busiBox .boxTxt {
  height: 100%;
  width: 200%;
  margin: 0 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#business .wrapper .busiBox .boxTxt .txtTitle {
  -webkit-transform: translate(0%, -60%);
          transform: translate(0%, -60%);
}

#business .wrapper .busiBox .boxTxt .txtTitle .title {
  display: inline-block;
  font-size: 320%;
  line-height: 20px;
  font-family: "EB Garamond", serif;
  letter-spacing: 15px;
  font-weight: 500;
  margin-top: 20px;
}

#business .wrapper .busiBox .boxTxt .txtTitle .sub {
  display: block;
  font-size: 80%;
  font-family: "Noto Serif JP", serif;
  letter-spacing: 4px;
  font-weight: 600;
}

#business .wrapper .busiBox .boxTxt .txtTitle2 {
  -webkit-transform: translate(0%, -10%);
          transform: translate(0%, -10%);
}

#business .wrapper .busiBox .boxTxt .txtTitle2 .title {
  display: block;
  font-size: 170%;
  font-family: "EB Garamond", serif;
  letter-spacing: 5px;
  font-weight: 500;
}

#business .wrapper .busiBox .boxTxt .txtTitle2 .sub {
  display: inline;
  font-size: 120%;
  font-family: "Noto Serif JP", serif;
  letter-spacing: 3px;
  line-height: 1px;
  font-weight: 600;
  background-color: #fff;
  color: black;
}

#business .wrapper .busiBox .boxTxt .txtTitle2 .border {
  position: absolute;
  top: 100px;
  width: 165%;
  -webkit-transform: translate(-40px, 0%);
          transform: translate(-40px, 0%);
  height: 1px;
  background: #fff;
  z-index: -5;
}

#business .wrapper .busiBox .boxTxt .txtTitle2 .desc {
  position: absolute;
  font-size: 60%;
  font-family: "Noto Serif JP", serif;
  line-height: 20px;
  letter-spacing: 2.5px;
  margin-top: 15px;
  font-weight: 550;
}

#business2 {
  display: block;
  width: 100%;
}

#business2 .busiEff1 {
  display: block;
  height: 60vh;
  width: 100%;
  position: relative;
}

#business2 .busiEff1 .wrapper {
  width: 66.6666%;
  margin: 0 auto;
}

#business2 .busiEff1 .wrapper .containerBis {
  position: absolute;
  width: 66.6666%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#business2 .busiEff1 .wrapper .containerBis .box {
  display: inline-block;
  width: 20%;
  height: 20%;
}

#business2 .busiEff1 .wrapper .containerBis .circle {
  border: 1px solid;
  /* 線の太さと可視化 */
  border-color: #fff;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  text-align: center;
}

#business2 .busiEff1 .wrapper .containerBis .circle .text {
  -webkit-transform: translate(0px, 80%);
          transform: translate(0px, 80%);
  font-family: "Noto Serif JP", serif;
  letter-spacing: 2.5px;
}

#business2 .busiEff1 .wrapper .containerBis .circle .text h2 {
  font-size: 2rem;
}

#business2 .busiEff1 .wrapper .containerBis .circle .text p {
  font-size: 1.2rem;
}

#business2 .busiEff1 .wrapper .containerBis .circle2 {
  border: 1px solid;
  /* 線の太さと可視化 */
  border-color: #fff;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  text-align: center;
}

#business2 .busiEff1 .wrapper .containerBis .circle2 .text {
  -webkit-transform: translate(0px, 80%);
          transform: translate(0px, 80%);
  font-family: "Noto Serif JP", serif;
  letter-spacing: 2.5px;
}

#business2 .busiEff1 .wrapper .containerBis .circle2 .text h2 {
  font-size: 2rem;
}

#business2 .busiEff1 .wrapper .containerBis .circle2 .text p {
  font-size: 1.2rem;
}

#business2 .busiEff1 .wrapper .containerBis2 {
  position: absolute;
  width: 66.6666%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(0%, 20%);
          transform: translate(0%, 20%);
}

#business2 .busiEff1 .wrapper .containerBis2 .bisleft {
  -webkit-transform: translate(-45%, 0%);
          transform: translate(-45%, 0%);
}

#business2 .busiEff1 .wrapper .containerBis2 .bisright {
  -webkit-transform: translate(45%, 0%);
          transform: translate(45%, 0%);
}

#business2 .busiEff1 .wrapper .containerBis2 .biscenter {
  -webkit-transform: translate(10%, 35%);
          transform: translate(10%, 35%);
  text-align: center;
}

#business2 .busiEff1 .wrapper .containerBis2 .biscenter h2 {
  font-family: "Noto Serif JP", serif;
  letter-spacing: 20px;
  font-size: 2rem;
  background-color: #C11920;
  line-height: 2rem;
}

#business2 .busiEff2 {
  display: block;
  height: 120vh;
  width: 100%;
}

#business2 .busiEff2 .wrapper {
  width: 66.6666%;
  margin: 0 auto;
}

#business2 .busiEff2 .wrapper .goods .images {
  display: block;
  position: relative;
  width: 100%;
  height: 50%;
}

#business2 .busiEff2 .wrapper .goods .images .sun {
  position: absolute;
  width: 10%;
  -webkit-transform: translate(70%, -50%);
          transform: translate(70%, -50%);
  z-index: 1;
}

#business2 .busiEff2 .wrapper .goods .images .img {
  position: absolute;
  width: 50%;
  z-index: 0;
  -webkit-transform: translate(10%, 0%);
          transform: translate(10%, 0%);
}

#business2 .busiEff2 .wrapper .goods .images .line {
  position: absolute;
  -webkit-transform: translate(-60%, 90%);
          transform: translate(-60%, 90%);
  width: 80%;
  z-index: -1;
}

#business2 .busiEff2 .wrapper .goods .textBox {
  display: block;
  width: 50%;
  height: 50vh;
  -webkit-transform: translate(0%, 98%);
          transform: translate(0%, 98%);
  position: relative;
}

#business2 .busiEff2 .wrapper .goods .textBox .title {
  display: block;
  font-size: 170%;
  font-family: "EB Garamond", serif;
  letter-spacing: 5px;
  font-weight: 500;
}

#business2 .busiEff2 .wrapper .goods .textBox .subTitle {
  display: inline;
  font-size: 120%;
  font-family: "Noto Serif JP", serif;
  letter-spacing: 3px;
  line-height: 1px;
  font-weight: 600;
  background-color: #fff;
  color: black;
}

#business2 .busiEff2 .wrapper .goods .textBox .desc {
  position: absolute;
  font-size: 60%;
  font-family: "Noto Serif JP", serif;
  line-height: 20px;
  letter-spacing: 2.5px;
  margin-top: 15px;
  font-weight: 550;
}

#business2 .busiEff2 .wrapper .capital .images {
  display: block;
  position: relative;
  width: 100%;
  height: 50%;
}

#business2 .busiEff2 .wrapper .capital .images .sun {
  position: absolute;
  width: 10%;
  -webkit-transform: translate(400%, -115%);
          transform: translate(400%, -115%);
  z-index: 1;
}

#business2 .busiEff2 .wrapper .capital .images .img {
  position: absolute;
  width: 50%;
  z-index: 0;
  -webkit-transform: translate(80%, -20%);
          transform: translate(80%, -20%);
}

#business2 .busiEff2 .wrapper .capital .images .line {
  position: absolute;
  -webkit-transform: translate(60%, -98%);
          transform: translate(60%, -98%);
  width: 80%;
  z-index: -1;
}

#business2 .busiEff2 .wrapper .capital .textBox {
  display: block;
  width: 50%;
  height: 50vh;
  -webkit-transform: translate(150%, 20%);
          transform: translate(150%, 20%);
  position: relative;
}

#business2 .busiEff2 .wrapper .capital .textBox .title {
  display: block;
  font-size: 170%;
  font-family: "EB Garamond", serif;
  letter-spacing: 5px;
  font-weight: 500;
}

#business2 .busiEff2 .wrapper .capital .textBox .subTitle {
  display: inline;
  font-size: 120%;
  font-family: "Noto Serif JP", serif;
  letter-spacing: 3px;
  line-height: 1px;
  font-weight: 600;
  background-color: #fff;
  color: black;
}

#business2 .busiEff2 .wrapper .capital .textBox .desc {
  position: absolute;
  font-size: 60%;
  font-family: "Noto Serif JP", serif;
  line-height: 20px;
  letter-spacing: 2.5px;
  margin-top: 15px;
  font-weight: 550;
}

svg {
  width: 100px;
}

svg path {
  fill: none;
  stroke-linejoin: round;
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  -webkit-animation: line_animation 5s both;
          animation: line_animation 5s both;
  stroke: #fff;
}

@-webkit-keyframes line_animation {
  0% {
    stroke-dashoffset: 1000px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes line_animation {
  0% {
    stroke-dashoffset: 1000px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
/*# sourceMappingURL=business.css.map */