body{
    background-color: #fff;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", YuGothic,
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    font-size: 16px;
    color: #222;
}
.content{
    max-width: 1400px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    height: 100px;
    padding-bottom: 10px;
}
/* ヘッダーロゴ */
.header-right{
    width: 340px;
    float:  left;
}

.header-right img{
    max-width: 255px;
    padding: 36px 0 0 40px;
}
/* ヘッダーメニュー */
.header-left{
    background-color: #003670;
    margin-left: 340px;
    height: 100px;
    border-radius: 0 0 0 40px;
}

.header-sab li{
    display: inline-block;
}
.header-nav li {
    display: inline-block;
}
.header-sab {
    padding: 0px 10px 20px 0px;
    text-align: right;
}
.header-sab a p{
    color: white;
    font-size: 13px;
    padding: 5px;
}
.header-sab img{
    width: 25px;
    display: block;
    margin-top: 5px;
}
.header-nav{
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}
.header-nav li a{
    color: white;
    padding: 15px;
    top: 40px;
}

.header-sab a p:hover,.header-nav li a:hover{
    color: rgba(255,255,255,0.8);
}

/* キービジュアル */
.content01{
    height: 680px;
}
.key-visual{
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
    position: relative;
}
.key-pc{
    margin-top: 20px;
}
.key-sp{
    display: none;
}
.key-pc img,.key-sp img{
    position:absolute;
    display: block;
    max-width: 100%;
    border-radius: 40px;
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
    .key-sp{
        display: block;
        margin: 5px;
    }
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .key-sp{
        display: block;
        margin: 5px;
    }
}

/* インフォ */

.info{
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    height: 70px;
}

.info-c{
    float: left;
    margin: 23px 0;
}

.info-c p{
    display: inline;
    color: black;
    margin: 0 10px;
}

.info-b{
    float: right;
    background-color: #3588bb;
    border-radius: 15px;
    padding: 7px 30px;
    display: block;
    margin: 15px 0;
}

.info-b a{
    color: white;
}

/* カスタマー */
.customer{
    width: 100%;
    background: linear-gradient(#FFF, #f5f3f0);
    padding-bottom: 30px;
}

.campany{
    background-color: #f5f3f0;
    height: 195px;
    border-radius: 40px 40px 0 0;
}

.campany p,.campany h2,.campany h3{
    color: #0d366d;
}

.cliant{
    background-color: #0d366d;
    height: 195px;
    border-radius: 0 0 40px 40px;
}

.cliant p,.cliant h2,.cliant h3{
    color: white;
}

.campany a,.cliant a{
    padding: 25px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 195px;
}
.customer img{
    margin-bottom: 10px;
}
.customer h2{
    font-size: 20px;
    font-weight: 600;
}
.customer h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.aa{
    border-right: 1px solid #e6e0d8;
}

.bb{
    border-right: 1px solid #001f4e;
    
}

.title-b{
    background-color: #dbeaf0;
    float: left;
    height: 600px;
    width: 25%;
    border-radius: 40px 0 0 40px;
    position: relative;
}

.text-kouza{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    /* -webkit- transform: translateY(-50%) translateX(-50%); */
}

.text-kouza p{
    font-size: 18px;
    color: #0d366d;
    font-weight: 400;
}

.text-kouza h1{
    color: #0d366d;
    font-size: 30px;
    font-weight: 550;
    padding-bottom: 30px;
}

.text-kouza a{
    background: #3588bb;
    color: #FFF;
    border-radius: 15px;
    display: block;
    padding: 3px 30px;
}

.content-b {
    height: 600px;
    border-radius: 0 40px 40px 0;
    background-color: #fff;
    width: 75%;
}

.bg-color{
    background-color: #f5f3f0;
}

.content-b{
    float: left;
}

.kouza .row{
    max-width: 1400px;
    margin: 0 auto;
}

.aa01 {
    background-image: url(img/bn_uk.jpg);
    height: 350px;
    width: 49%;
    margin: 20px 26px 20px 0;
    border-radius: 40px;
    position: relative;
}

.aa01 img{
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    /* -webkit- transform: translateY(-50%) translateX(-50%); */
}

.bb01 {
    height: 350px;
    width: 49%;
    border-radius: 40px;
    background-color: #fff;
    margin: 20px 0;
    position: relative;
}

.bb01 h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    /* -webkit- transform: translateY(-50%) translateX(-50%); */
    font-size: 25px;
    font-weight: 600;
    color: #0d366d;
}

.half .row{
    display: flex;
    margin: 0 auto;
}

.half{
    padding-bottom: 20px;
}

